
<div class="container">
  <form>
    <div>
      <label for="specificSizeInputName">Wish</label>
      <input name="wishText" type="text" placeholder="add wish" [(ngModel)]="newWishText">
    </div>
    <div>
      <button
      type="submit"
      (click)="$event.preventDefault() ; addWish()"
      >Add Wish</button>
    </div>
  </form>
  <select
    [(ngModel)]="listFilter"
    (ngModelChange)="filterChanged($event)"
  >
    <option value="0">All</option>
    <option value="1">Complete</option>
    <option value="2">InComplete</option>
  </select>

  <div *ngIf="visibleItems.length === 0 ;then noItems ;else showItems"></div>
  <ng-template #noItems>
    No Items found
  </ng-template>
  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of visibleItems;index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input 
              type="checkbox" 
              class="form-check-input" 
              [checked]="item.isComplete" 
              [attr.dataIndex]="ii"
              (click) ="toggleItem(item)"
            >
            {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>

